{* Latte template 
*}

{block content}
<div class="page">
<h3>Nové měření</h3>

<div class="observationform">
{control observationForm}
</div>

{*
{form observationForm}
  <table>
    <tr class="required">
      <th>NEcoNeco</th>
      <td>
        {formContainer observation}
       <ul>
            <li>{input date} {label date /}</li>
        </ul>
        {/formContainer}
      </td>            
    </tr>
  </table>
{/form}
*}
</div>