{* Latte template *}

{block content}
<div class="page">
<h3>Upravit příspěvek</h3>

{control observationForm}
</div>

{*
location name
equipment name drop down list
hodnoty observation
photos - po jedne
*}