{* Latte template *}

{block content}
<div class="content">
    <div  style="text-align:center; margin-top: 4em; margin-bottom: 3em;">
        <h3 n:block=title style="margin-bottom: 2em">Zadejte nové heslo</h3>
        <div class="form" style="width: 45%; margin-left: auto; margin-right: auto; ">{control changePasswordForm}</div>
    </div>

</div>