{* Latte template *}

{block content}
<div class="content">
    <div class="userforms password-change">
        <h2>Zadejte nové heslo</h2>
        <div class="form">
        	{control changePasswordForm}
        </div>
    </div>

</div>