{* Latte template *}

{block content}
<div class="page">
    <div  style="text-align:center; margin-top: 4em; margin-bottom: 3em;">
        <div class="form" style="width: 25%; margin-left: auto; margin-right: auto; ">{control getNewpassForm}</div>
        <h6 style="margin-top: 2em;">Na zadaný email přijde odkaz na stránku, na které můžete změnit své heslo.</h6>
    
</div>