{* Latte template *}

{block content}
<div class="page">
    <div  style="text-align:center; margin-top: 4em; margin-bottom: 3em;">
        <h3 n:block=title style="margin-bottom: 2em">Zapomenuté heslo</h3>
        <div class="form" style="width: 28.5%; margin-left: auto; margin-right: auto; ">{control getNewpassForm}</div>
        
</div>