{* Latte template *}

{block content}
<div class="page">
    <h3 n:block=title>Změna hesla</h3>
    <div class="form">{control getNewpassForm}</div>
    
    <h5>Na zadaný email vám příjde odkaz na stránku kde si můžete změnit své heslo.</h5>

</div>