{* Latte template *}

{block content}

<html>
    <head>
        <title>{$title}</title>
    </head>

    <body>
        <ul>
            <li>
                <strong>Email:</strong> {$values['email']}
            </li>
            <li>
		<h4>Pro změnu hesla k Vašemu účtu na SkyQuality.cz klikněte na následující odkaz.<br>
		    <a href="{link //Password:changepass 'newpass'=>$values['newpass']}">Zde klikněte pro změnu hesla.</a>
		</h4>
            </li>
        </ul>
    </body>
</html>
