parameters:


nette:
        database:
                dsn: 'mysql:host=localhost;dbname=localdev'
                user: 'root'
                password:
                options:
                  lazy: yes