parameters:


nette:
        database:
                dsn: 'mysql:host=wm53.wedos.net;dbname=d62173_skyqual'
                user: 'a62173_skyqual'
                password: '2r9UbfdR'
                options:
                  lazy: yes