{* Latte template *}

{block content}

<div class="content content--dblocations">
        <a n:href="Database:" class="btn">přepnout na jednotlivá pozorování</a>
        <a n:href="Map:default" class="btn">zobrazit na mapě</a>
        <div n:if="$user->loggedIn">
            <a n:href="Observation:create" class="btn">přidat měření<a>
    </div>

    <h3>Výpis databáze lokalit </h3> 
    <div>
    {control locationsDataGrid} 
    </div>
</div>
