{block content}
<div class="page">
    <h3 n:block=title>Přihlášení</h3>

<div class="form">{control signInForm}</div>
<a n:href="User:register" class="ruzova">Zaregistrujte se</a>
</div>
{* or use {include '../components/form.latte', form => signInForm} *}
