{* Latte template *}

{block content}
<div class="page">
<h3 n:block=title>Registrace</h3>
<p class="pblok">Proč po Vás chceme registraci? Budete si moci pohodlně prohlížet a upravovat Vaše měření a lokality. Vaše údaje samozřejmě nepředáme žádné třetí straně.
<div class="form">{control registerForm}</div>
</div>