{* Latte template *}

{block content}
<div class="content">
    <div  class="userforms registration">
        <h2>Registrace</h2>
        <p>
            Proč po Vás chceme registraci? Budete si moci pohodlně prohlížet a&nbsp;upravovat Vaše měření a&nbsp;lokality. Vaše údaje samozřejmě nepředáme žádné třetí straně.
        </p>
        <div class="form">
            {control registerForm}
        </div>
    </div>
</div>