{* Latte template *}

{block content}
<div class="content">
    <h3 n:block=title>Aktivace</h3>


<a n:href="Sign:in" class="ruzova">Přihlásit se</a>
</div>
{* or use {include '../components/form.latte', form => signInForm} *}
