{block content}
<div class="content">
    <div class="userforms sign-in">
        <h2>Přihlášení</h2>
        <div class="form">
            {control signInForm}
        </div>
        <a n:href="User:register"><b>Zaregistrujte se</b></a><br />
        <a n:href="Password:newpass"><b>Zapomněli jste heslo?</b></a>
    </div>
</div>
