@import url("normalize.css");
@-ms-viewport {
  width: device-width;
}
@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold'), url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), url('../fonts/OpenSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  background-image: url(../images/Earthlights_dmsp_web5.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 1.4rem;
  font-family: "Open Sans", Georgia, sans-serif;
  margin: 1.5rem auto;
  width: 75%;
  max-width: 1200px;
  color: #333333;
}
footer {
  background-color: #ffffff;
  width: 100%;
  clear: both;
}
a,
a:hover,
a:visited,
a:active {
  color: #003380;
  text-decoration: none;
}
p {
  font-size: .9rem;
  text-align: justify;
  line-height: 150%;
}
.cistic {
  clear: both;
  height: 1px;
  border: none;
  margin: -1rem 0 0 0;
  visibility: hidden;
}
/* Logo and Navigation Layout */
header {
  background-color: #ffffff;
  border-radius: 2px;
  padding: 1rem 2rem;
}
nav {
  float: right;
}
@media (max-width: 840px) {
  nav {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media (max-width: 650px) {
  nav {
    float: none;
  }
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
}
@media (max-width: 650px) {
  nav li {
    display: block;
  }
}
.logo {
  float: left;
  margin-top: .9rem;
}
@media (max-width: 840px) {
  .logo {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
.logo__description {
  font-size: .8rem;
  color: #aaaaaa;
  margin-left: -0.5rem;
  vertical-align: 35%;
}
@media (max-width: 1200px) {
  .logo__description {
    display: none;
  }
}
.nav--user {
  font-family: "Myriad Pro Regular";
  font-size: .9rem;
  text-align: right;
  margin-top: .2rem;
  margin-bottom: 1.2rem;
  padding: 0;
}
.nav--user li {
  margin: 0 0 0 1.1rem;
  padding: 0;
}
@media (max-width: 940px) {
  .nav--user li {
    margin-left: .3rem;
  }
}
@media (max-width: 840px) {
  .nav--user {
    text-align: center;
  }
}
.nav--main {
  font-weight: bold;
  font-family: "Myriad Pro Bold";
  text-align: center;
  margin: .2rem 0;
  padding: 0;
}
.nav--main li {
  margin: 0 0 0 1.8rem;
  padding: 0;
}
@media (max-width: 940px) {
  .nav--main li {
    margin-left: .7rem;
  }
}
@media (max-width: 840px) {
  .nav--main li {
    margin-top: .4rem;
  }
}
.nav--main a {
  font-size: 1.2rem;
  font-weight: 900;
  color: #444444;
}
.cistichead {
  clear: both;
  height: 1px;
  border-bottom: solid 1px #eeeeee;
  margin: 0 0 0 0;
}
/* Homepage Layout */
.content--homepage {
  background-color: #ffffff;
  border-radius: 2px;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}
.homepage__btn {
  float: right;
  display: inline;
  width: 27%;
  padding-left: 2rem;
}
@media (max-width: 1200px) {
  .homepage__btn {
    display: block;
    float: none;
    width: 100%;
    padding: 0;
  }
}
.btn--add {
  width: 90%;
  padding: 1rem;
  margin: .9rem auto;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #003380;
  border: solid 1px #003380;
  border-radius: 2px;
  box-shadow: #333 4px 6px 30px;
}
.btn--add a {
  color: #ffffff;
}
.homepage__description {
  display: inline;
  float: left;
  width: 73%;
  padding-right: 1rem;
}
@media (max-width: 1200px) {
  .homepage__description {
    display: block;
    float: none;
    width: 100%;
    padding: 0;
    margin-top: 1rem;
  }
}
.homepage__statistics {
  background-color: #ffffff;
  border-radius: 2px;
  margin-bottom: 2rem;
}
.homepage__map {
  background-color: #ffffff;
  border-radius: 2px;
  margin-bottom: 2rem;
  padding: 1rem 0;
}
.homepage__bottom-links {
  background-color: #ffffff;
}
.highlight {
  padding: .5rem;
  background-color: #fff1f1;
  border-left: 3px solid #bc0012;
  margin-bottom: 1.2rem;
}
